*{
  margin: 0;
  padding: 0;
}
.navbar{
  width: 100vw;
  height: 8vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
}
.logo{
  margin-left: 1rem;
  font-size: 20px;
}
.sidebar{
  background-color:rgb(44, 43, 43);
  color: white;
  width: 15vw;
  height: 100vh;
}
.sidebar > ul{
  padding-top: 3rem; 
  font-size: 1.5rem;
  list-style-type: none;
}
 ul > li{
    margin-top: 5px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 15px;

}
ul > li:hover{
  background-color: white;
  color: black;
}
.childrens{
  padding-left: 30px;
}
